name: Copy repo to release mirror

on:
  workflow_dispatch:
  release:
    types:
      - published


jobs:
  release_mirror:
    name: Push main to release repo
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          ref: main

      - uses: automatika-robotics/push-to-release-repo-action@v2
        with:
          destination-username: "${{ secrets.DESTINATION_USERNAME }}"
          destination-access-token: ${{ secrets.DESTINATION_ACCESS_TOKEN }}
          destination-repository: "automatika-robotics/ros-sugar-release"
